* {
  margin: 0;
  box-sizing: border-box;
}
$main-color: lightblue;
#aside {
  background-color: $main-color;
}
#main {
  width: 100vw;
  background-color: whitesmoke;
  header {
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 0 15%;
    #logo {
      width: 50%;
      height: 100%;
      background-image: url("./images/GenteraLogo.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 50% auto;
    }
    #header-content {
      width: 50%;
      height: 100%;
      display: grid;
      grid-template-columns: 4fr 4fr 1fr;
      grid-column-gap: 5%;
      justify-content: center;
      align-items: center;
      #phone {
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $main-color;
        span{
          color: red;
        }
      }
      button {
        height: 60%;
        background-color: $main-color;
        border: none;
        border-radius: 1vh;
      }
      #burger-menu {
        padding: 5% 0;
        height: 60%;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-around;
        grid-gap: 20%;
        .burger-div {
          background-color: $main-color;
        }
      }
    }
  }
  .first-div {
    width: 100%;
    height: 70vh;
    background-image: url(./images/headerimage.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: grid;
    justify-content: left;
    align-items: center;
    padding-left: 15%;
    .first-div-content {
      h2 {
        color: white;
      }
      .center-h {
        font-weight: 100;
        font-size: 3.2em;
      }
      .plastic-h {
        font-size: 3.5em;
      }
    }
  }
  #our-locations {
    width: 86%;
    height: 50vh;
    background-color: white;
    position: absolute;
    top: 70vh;
    left: 7%;
    border-radius: 2vh;
    padding-top: 5vh;
    h1 {
      height: 7vh;
      color: grey;
      text-align: center;
    }
    span {
      color: $main-color;
    }
    .locations-content {
      height: 35vh;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0 5%;
      grid-gap: 5%;
      position: absolute;
      top: 15vh;
      .one-location {
        height: 45vh;
        border-radius: 2vh;
        background-color: blue;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
      }
      h4 {
        background-color: $main-color;
        color: white;
        position: absolute;
        top: 30vh;
        height: 5vh;
        width: 27%;
        text-align: center;
        font-size: 1.8em;
      }
      h5 {
        background-color: white;
        position: absolute;
        top: 43vh;
        margin-left: 7%;
        border-radius: 1vh;
        height: 5vh;
        width: 13%;
        text-align: center;
      }
      .first-location {
        background-image: url(./images/miami_image.png);
      }
      .second-location {
        background-image: url(./images/boca_image.png);
      }
      .third-location {
        background-image: url(./images/LA_image.png);
      }
    }
  }
  #our-services {
    height: 120vh;
    width: 100%;
    padding-top: 60vh;
    h1 {
      color: grey;
      text-align: center;
    }
    span {
      color: $main-color;
    }
    .our-services-content {
      padding: 5vh 10%;
      width: 100%;
      height: 50vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 5%;

      .one-service {
        background-color: $main-color;

        display: grid;
        align-items: center;
        justify-content: center;
        .service-image {
          display: grid;
          align-items: center;
          justify-content: center;
          div{
            width: 20vh;
          height: 20vh;
          border-radius: 50%;
          background-position: center;
          background-size: cover;
          position: relative;
          bottom: 5vh;
          }
          
        }
      }
      .first-service {
        .service-image {
         
          div{
             background-image: url("./images/face.png");
          }
         
        }
      }
      .second-service {
        .service-image {
          div{
             background-image: url("./images/breast.png");
          }
         
        }
      }
      .third-service {
        .service-image {
          div{
             background-image: url("./images/body.png");
          }
         
        }
      }
      .fourth-service {
        .service-image {
          div{
             background-image: url("./images/labia.png");
          }
         
        }
      }
    }
  }
  #selected-service {
    width: 100%;
    height: 50vh;
    background-image: url("./images/services-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5vh 15%;
    #selected-service-info {
      width: 100%;
      height: 40vh;
      background-color: white;
      h2 {
        color: grey;
        text-align: center;
      }
      span {
        color: $main-color;
      }
      .selected-service-info-content {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
  #our-mission {
    height: 70vh;
    width: 100%;
    padding: 10vh 0;
    .our-mission-content {
      width: 100%;
      height: 100%;
      background-color: rgb(7, 197, 181);
      color: white;
      text-align: left;
      padding: 5vh 40% 10vh 15%;
      h2,
      p {
        margin-bottom: 5vh;
      }
    }
    .our-mission-pic {
      width: 20%;
      height: 65vh;
      background-image: url("./images/ourmission.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      bottom: 55vh;
      left: 60%;
    }
    #mission-button {
      position: relative;
      height: 10vh;
      bottom: 70vh;
      left: 15%;
      background-color: white;
      border: none;
      border-radius: 1vh;
    }
  }
  #get-in-touch {
    width: 100%;
    height: 80vh;
    background-image: url("./images/homebackground.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h2 {
      color: grey;
      text-align: center;
    }
    span {
      color: $main-color;
    }
    p {
      padding: 0 20%;
      text-align: center;
    }
    #contact-form {
      width: 70%;
      height: 80vh;
      background-color: white;
      position: relative;
      left: 15%;
      border-radius: 2vh;
      border: solid black 2px;
      h2 {
        color: $main-color;
        text-align: center;
      }
      #user-datas {
        width: 100%;
        height: 20vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
        input {
        }
      }
      #user-country {
        width: 100%;
        height: 10vh;
      }
      #user-message {
        width: 100%;
        height: 30vh;
      }
      #form-submit{
          background-color: $main-color;
          height: 10vh;
      }
    }
  }
  #socialize-with-us{
    height: 100vh;
    width: 100%;
    padding-top: 20vh;
    h1 {
      color: grey;
      text-align: center;
    }
    span {
      color: $main-color;
    }
    #socialize-content{
      width: 100%;
      height: 40vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      .one-socialize-div{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .one-socialize-div:hover{
        filter: grayscale(100%);
      }
      .first-socialize{
        background-image: url("./images/insta1.png");
      }
      .second-socialize{
        background-image: url("./images/insta2.png");
      }
      .third-socialize{
        background-image: url("./images/insta3.png");
      }
      .fourth-socialize{
        background-image: url("./images/insta4.png");
      }
      .fifth-socialize{
        background-image: url("./images/insta5.png");
      }
    }
  }
  #social-networks-wraper{
    width: 70%;
    left: 15%;
    height: 35vh;
    background-color: white;
    border-radius: 2vh;
    position: absolute;
    top: 480vh;
    .bottom-logo{
      width: 100%;
      height: 50%;
      background-image: url("./images/GenteraLogo.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
    }
    h5{
      text-align: center;
    }
  }
  #locations-contact-datas{
    background-color:$main-color ;
    padding: 15vh 15% 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
