* {
  margin: 0;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

#aside {
  background-color: lightblue;
}

#main {
  width: 100vw;
  background-color: whitesmoke;
}

#main header {
  width: 100%;
  height: 10vh;
  display: flex;
  padding: 0 15%;
}

#main header #logo {
  width: 50%;
  height: 100%;
  background-image: url("./images/GenteraLogo.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50% auto;
}

#main header #header-content {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 4fr 1fr;
  grid-column-gap: 5%;
  justify-content: center;
  align-items: center;
}

#main header #header-content #phone {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightblue;
}

#main header #header-content #phone span {
  color: red;
}

#main header #header-content button {
  height: 60%;
  background-color: lightblue;
  border: none;
  border-radius: 1vh;
}

#main header #header-content #burger-menu {
  padding: 5% 0;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  grid-gap: 20%;
}

#main header #header-content #burger-menu .burger-div {
  background-color: lightblue;
}

#main header #header-content #burger-menu:hover {
  cursor: pointer;
}

#main .first-div {
  width: 100%;
  height: 70vh;
  background-image: url(./images/headerimage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: grid;
  justify-content: left;
  align-items: center;
  padding-left: 15%;
}

#main .first-div .first-div-content h2 {
  color: white;
}

#main .first-div .first-div-content .center-h {
  font-weight: 100;
  font-size: 3.2em;
}

#main .first-div .first-div-content .plastic-h {
  font-size: 3.5em;
}

#main #our-locations {
  width: 86%;
  height: 50vh;
  background-color: white;
  position: absolute;
  top: 70vh;
  left: 7%;
  border-radius: 2vh;
  padding-top: 5vh;
}

#main #our-locations h1 {
  height: 7vh;
  color: grey;
  text-align: center;
}

#main #our-locations span {
  color: lightblue;
}

#main #our-locations .locations-content {
  height: 35vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 5%;
  grid-gap: 5%;
  position: absolute;
  top: 15vh;
}

#main #our-locations .locations-content .one-location {
  height: 45vh;
  border-radius: 2vh;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

#main #our-locations .locations-content h4 {
  background-color: lightblue;
  color: white;
  position: absolute;
  top: 30vh;
  height: 5vh;
  width: 27%;
  text-align: center;
  font-size: 1.8em;
}

#main #our-locations .locations-content h5 {
  background-color: white;
  position: absolute;
  top: 43vh;
  margin-left: 7%;
  border-radius: 1vh;
  height: 5vh;
  width: 13%;
  text-align: center;
}

#main #our-locations .locations-content .first-location {
  background-image: url(./images/miami_image.png);
}

#main #our-locations .locations-content .second-location {
  background-image: url(./images/boca_image.png);
}

#main #our-locations .locations-content .third-location {
  background-image: url(./images/LA_image.png);
}

#main #our-services {
  height: 135vh;
  width: 100%;
  padding-top: 60vh;
}

#main #our-services h1 {
  color: grey;
  text-align: center;
}

#main #our-services span {
  color: lightblue;
}

#main #our-services .our-services-content {
  padding: 10vh 10%;
  width: 100%;
  height: 45vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3%;
}

#main #our-services .our-services-content .one-service {
  background-color: lightblue;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 45vh;
  border-radius: 2vh;
}

#main #our-services .our-services-content .one-service .service-image {
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 10vh;
}

#main #our-services .our-services-content .one-service .service-image div {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

#main #our-services .our-services-content .one-service h5,
#main #our-services .our-services-content .one-service p {
  position: relative;
  bottom: 10vh;
  text-align: center;
  padding: 0 5%;
}

#main #our-services .our-services-content .one-service h5 {
  color: #059085;
  font-size: 1.3em;
  padding-bottom: 5vh;
}

#main #our-services .our-services-content .one-service button {
  background-color: white;
  width: 80%;
  height: 10vh;
  position: relative;
  bottom: 6vh;
  left: 10%;
  border: none;
  border-radius: 1vh;
  color: lightblue;
}

#main #our-services .our-services-content .one-service button:hover {
  background-color: #059085;
}

#main #our-services .our-services-content .first-service .service-image div {
  background-image: url("./images/face.png");
}

#main #our-services .our-services-content .second-service .service-image div {
  background-image: url("./images/breast.png");
}

#main #our-services .our-services-content .third-service .service-image div {
  background-image: url("./images/body.png");
}

#main #our-services .our-services-content .fourth-service .service-image div {
  background-image: url("./images/labia.png");
}

#main #selected-service {
  width: 100%;
  height: 60vh;
  background-image: url("./images/services-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 7vh 15%;
}

#main #selected-service #selected-service-info {
  width: 100%;
  height: 46vh;
  background-color: white;
  border-radius: 2vh;
  padding: 5vh 5%;
}

#main #selected-service #selected-service-info h2 {
  color: grey;
  text-align: center;
  margin-bottom: 5vh;
}

#main #selected-service #selected-service-info span {
  color: lightblue;
}

#main #selected-service #selected-service-info .selected-service-info-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#main #selected-service #selected-service-info .selected-service-info-content ul {
  list-style: none;
}

#main #selected-service #selected-service-info .selected-service-info-content ul li {
  margin-bottom: 2vh;
  font-size: 1.1em;
}

#main #selected-service #selected-service-info .selected-service-info-content ul li:hover {
  margin-left: 0.5em;
  cursor: pointer;
}

#main #selected-service #selected-service-info .selected-service-info-content ul li::before {
  content: "\203A";
  color: lightblue;
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 1.2em;
}

#main #our-mission {
  height: 70vh;
  width: 100%;
  padding: 10vh 0;
}

#main #our-mission .our-mission-content {
  width: 100%;
  height: 100%;
  background-color: #07c5b5;
  color: white;
  text-align: left;
  padding: 5vh 40% 10vh 15%;
}

#main #our-mission .our-mission-content h2,
#main #our-mission .our-mission-content p {
  margin-bottom: 5vh;
}

#main #our-mission .our-mission-content h2 span {
  font-weight: 100;
}

#main #our-mission .our-mission-pic {
  width: 20%;
  height: 65vh;
  background-image: url("./images/ourmission.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  bottom: 55vh;
  left: 65%;
}

#main #our-mission #mission-button {
  position: relative;
  height: 10vh;
  width: 15%;
  bottom: 70vh;
  left: 15%;
  background-color: white;
  border: none;
  border-radius: 1vh;
  color: lightblue;
  font-size: 1.2em;
}

#main #get-in-touch {
  width: 100%;
  height: 80vh;
  background-image: url("./images/homebackground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10vh;
}

#main #get-in-touch h2 {
  color: grey;
  text-align: center;
  font-size: 2em;
}

#main #get-in-touch span {
  color: lightblue;
}

#main #get-in-touch p {
  padding: 3vh 20% 8vh;
  text-align: center;
  font-size: 1.5em;
}

#main #get-in-touch #contact-form {
  width: 50%;
  height: 60vh;
  background-color: white;
  position: relative;
  left: 25%;
  border-radius: 2vh;
  padding: 5vh 5%;
}

#main #get-in-touch #contact-form h2 {
  color: lightblue;
  text-align: center;
  font-size: 1.5em;
}

#main #get-in-touch #contact-form #user-datas {
  margin-top: 5vh;
  width: 100%;
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3vh;
}

#main #get-in-touch #contact-form #user-datas input {
  border: solid black 1px;
  border-radius: 2vh;
}

#main #get-in-touch #contact-form #user-country {
  margin-top: 3vh;
  border-radius: 2vh;
  width: 100%;
  height: 6vh;
}

#main #get-in-touch #contact-form #user-message {
  margin-top: 3vh;
  border-radius: 2vh;
  width: 100%;
  height: 12vh;
}

#main #get-in-touch #contact-form #form-submit {
  background-color: lightblue;
  height: 10vh;
  border-radius: 2vh;
  border: none;
  width: 35%;
  margin-top: 3vh;
  margin-left: 30%;
}

#main #socialize-with-us {
  height: 110vh;
  width: 100%;
  padding-top: 30vh;
}

#main #socialize-with-us h1 {
  color: grey;
  text-align: center;
  margin-bottom: 5vh;
}

#main #socialize-with-us span {
  color: lightblue;
}

#main #socialize-with-us #socialize-content {
  width: 100%;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#main #socialize-with-us #socialize-content .one-socialize-div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main #socialize-with-us #socialize-content .one-socialize-div .inside-div {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: space-around;
  align-items: center;
  padding: 10vh 10%;
}

#main #socialize-with-us #socialize-content .one-socialize-div .inside-div h4, #main #socialize-with-us #socialize-content .one-socialize-div .inside-div p {
  color: white;
  display: none;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main #socialize-with-us #socialize-content .one-socialize-div .inside-div p {
  font-size: 0.7em;
}

#main #socialize-with-us #socialize-content .one-socialize-div .inside-div:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#main #socialize-with-us #socialize-content .one-socialize-div .inside-div:hover h4, #main #socialize-with-us #socialize-content .one-socialize-div .inside-div:hover p {
  display: inline-block;
}

#main #socialize-with-us #socialize-content .first-socialize {
  background-image: url("./images/insta1.png");
}

#main #socialize-with-us #socialize-content .second-socialize {
  background-image: url("./images/insta2.png");
}

#main #socialize-with-us #socialize-content .third-socialize {
  background-image: url("./images/insta3.png");
}

#main #socialize-with-us #socialize-content .fourth-socialize {
  background-image: url("./images/insta4.png");
}

#main #socialize-with-us #socialize-content .fifth-socialize {
  background-image: url("./images/insta5.png");
}

#main #social-networks-wraper {
  width: 70%;
  left: 15%;
  height: 25vh;
  background-color: white;
  border-radius: 2vh;
  position: absolute;
  top: 520vh;
}

#main #social-networks-wraper .bottom-logo {
  width: 100%;
  height: 50%;
  background-image: url("./images/GenteraLogo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25% auto;
}

#main #social-networks-wraper h5 {
  text-align: center;
  padding: 0 10%;
}

#main #social-networks-wraper .social-nets-logos {
  width: 100%;
  height: 7vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  padding: 0 35% 0;
}

#main #social-networks-wraper .social-nets-logos .one-net-logo {
  height: 5vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#main #social-networks-wraper .social-nets-logos .first-net-logo {
  background-image: url("./images/FB.png");
}

#main #social-networks-wraper .social-nets-logos .second-net-logo {
  background-image: url("./images/insta.png");
}

#main #social-networks-wraper .social-nets-logos .third-net-logo {
  background-image: url("./images/IN.png");
}

#main #locations-contact-datas {
  height: 50vh;
  background-color: lightblue;
  color: white;
  padding: 0 15% 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#main #locations-contact-datas .one-location-info {
  padding: 15vh 5% 5vh;
  height: 50vh;
}

#main #locations-contact-datas .one-location-info h2:after {
  content: "";
  display: block;
  height: 0.5em;
  vertical-align: bottom;
  width: 50%;
  border-top: 1px solid white;
}

#main #locations-contact-datas .second-location-info {
  border-left: solid white 1px;
  border-right: solid white 1px;
}
/*# sourceMappingURL=style.css.map */