* {
  margin: 0;
  box-sizing: border-box;
}
button:hover{
  cursor: pointer;
}
$main-color: lightblue;
#aside {
  background-color: $main-color;
}
#main {
  width: 100vw;
  background-color: whitesmoke;
  header {
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 0 15%;
    #logo {
      width: 50%;
      height: 100%;
      background-image: url("./images/GenteraLogo.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 50% auto;
    }
    #header-content {
      width: 50%;
      height: 100%;
      display: grid;
      grid-template-columns: 4fr 4fr 1fr;
      grid-column-gap: 5%;
      justify-content: center;
      align-items: center;
      #phone {
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $main-color;
        span {
          color: red;
        }
      }
      button {
        height: 60%;
        background-color: $main-color;
        border: none;
        border-radius: 1vh;
      }
      #burger-menu {
        padding: 5% 0;
        height: 60%;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-around;
        grid-gap: 20%;
        .burger-div {
          background-color: $main-color;
        }
      }
      #burger-menu:hover{
        cursor: pointer;
      }
    }
  }
  .first-div {
    width: 100%;
    height: 70vh;
    background-image: url(./images/headerimage.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: grid;
    justify-content: left;
    align-items: center;
    padding-left: 15%;
    .first-div-content {
      h2 {
        color: white;
      }
      .center-h {
        font-weight: 100;
        font-size: 3.2em;
      }
      .plastic-h {
        font-size: 3.5em;
      }
    }
  }
  #our-locations {
    width: 86%;
    height: 50vh;
    background-color: white;
    position: absolute;
    top: 70vh;
    left: 7%;
    border-radius: 2vh;
    padding-top: 5vh;
    h1 {
      height: 7vh;
      color: grey;
      text-align: center;
    }
    span {
      color: $main-color;
    }
    .locations-content {
      height: 35vh;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0 5%;
      grid-gap: 5%;
      position: absolute;
      top: 15vh;
      .one-location {
        height: 45vh;
        border-radius: 2vh;
        background-color: blue;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
      }
      h4 {
        background-color: $main-color;
        color: white;
        position: absolute;
        top: 30vh;
        height: 5vh;
        width: 27%;
        text-align: center;
        font-size: 1.8em;
      }
      h5 {
        background-color: white;
        position: absolute;
        top: 43vh;
        margin-left: 7%;
        border-radius: 1vh;
        height: 5vh;
        width: 13%;
        text-align: center;
      }
      .first-location {
        background-image: url(./images/miami_image.png);
      }
      .second-location {
        background-image: url(./images/boca_image.png);
      }
      .third-location {
        background-image: url(./images/LA_image.png);
      }
    }
  }
  #our-services {
    height: 135vh;
    width: 100%;
    padding-top: 60vh;
    h1 {
      color: grey;
      text-align: center;
    }
    span {
      color: $main-color;
    }
    .our-services-content {
      padding: 10vh 10%;
      width: 100%;
      height: 45vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 3%;
      .one-service {
        background-color: $main-color;
        display: grid;
        align-items: center;
        justify-content: center;
        height: 45vh;
        border-radius: 2vh;
        .service-image {
          display: grid;
          align-items: center;
          justify-content: center;
          position: relative;
          bottom: 10vh;
          div {
            width: 20vh;
            height: 20vh;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
          }
        }
        h5,
        p {
          position: relative;
          bottom: 10vh;
          text-align: center;
          padding: 0 5%;
        }
        h5 {
          color: rgb(5, 144, 133);
          font-size: 1.3em;
          padding-bottom: 5vh;
        }
        button {
          background-color: white;
          width: 80%;
          height: 10vh;
          position: relative;
          bottom: 6vh;
          left: 10%;
          border: none;
          border-radius: 1vh;
          color: $main-color;
        }
        button:hover {
          background-color: rgb(5, 144, 133);
        }
      }
      .first-service {
        .service-image {
          div {
            background-image: url("./images/face.png");
          }
        }
      }
      .second-service {
        .service-image {
          div {
            background-image: url("./images/breast.png");
          }
        }
      }
      .third-service {
        .service-image {
          div {
            background-image: url("./images/body.png");
          }
        }
      }
      .fourth-service {
        .service-image {
          div {
            background-image: url("./images/labia.png");
          }
        }
      }
    }
  }
  #selected-service {
    width: 100%;
    height: 60vh;
    background-image: url("./images/services-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 7vh 15%;
    #selected-service-info {
      width: 100%;
      height: 46vh;
      background-color: white;
      border-radius: 2vh;
      padding: 5vh 5%;
      h2 {
        color: grey;
        text-align: center;
        margin-bottom: 5vh;
      }
      span {
        color: $main-color;
      }
      .selected-service-info-content {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        ul {
          list-style: none;
          li{
            margin-bottom: 2vh;
            font-size: 1.1em;
          }
          li:hover{
            margin-left: 0.5em;
            cursor: pointer;
          }
          li::before {
            content: "\203A";
            color: $main-color;
            font-weight: bolder;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
            font-size: 1.2em;
          }
        }
      }
    }
  }
  #our-mission {
    height: 70vh;
    width: 100%;
    padding: 10vh 0;
    .our-mission-content {
      width: 100%;
      height: 100%;
      background-color: rgb(7, 197, 181);
      color: white;
      text-align: left;
      padding: 5vh 40% 10vh 15%;
      h2,
      p {
        margin-bottom: 5vh;
      }
      h2{
        span{
          font-weight: 100;
        }
      }
    }
    .our-mission-pic {
      width: 20%;
      height: 65vh;
      background-image: url("./images/ourmission.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      bottom: 55vh;
      left: 65%;
    }
    #mission-button {
      position: relative;
      height: 10vh;
      width: 15%;
      bottom: 70vh;
      left: 15%;
      background-color: white;
      border: none;
      border-radius: 1vh;
      color: $main-color;
      font-size: 1.2em;
    }
  }
  #get-in-touch {
    width: 100%;
    height: 80vh;
    background-image: url("./images/homebackground.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10vh;
    h2 {
      color: grey;
      text-align: center;
      font-size: 2em;
    }
    span {
      color: $main-color;
    }
    p {
      padding: 3vh 20% 8vh;
      text-align: center;
      font-size: 1.5em;
    }
    #contact-form {
      width: 50%;
      height: 60vh;
      background-color: white;
      position: relative;
      left: 25%;
      border-radius: 2vh;
      padding: 5vh 5%;
      h2 {
        color: $main-color;
        text-align: center;
        font-size: 1.5em;
        
      }
      #user-datas {
        margin-top: 5vh;
        width: 100%;
        height: 15vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 3vh;
        input {
          border: solid black 1px;
          border-radius: 2vh;
        }
      }
      #user-country {
        margin-top: 3vh;
        border-radius: 2vh;
        width: 100%;
        height: 6vh;
      }
      #user-message {
        margin-top: 3vh;
        border-radius: 2vh;
        width: 100%;
        height: 12vh;
      }
      #form-submit {
        background-color: $main-color;
        height: 10vh;
        border-radius: 2vh;
        border: none;
        width: 35%;
        margin-top: 3vh;
        margin-left: 30%;
      }
    }
  }
  #socialize-with-us {
    height: 110vh;
    width: 100%;
    padding-top: 30vh;
    h1 {
      color: grey;
      text-align: center;
      margin-bottom: 5vh;
    }
    span {
      color: $main-color;
    }
    #socialize-content {
      width: 100%;
      height: 40vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      .one-socialize-div {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        .inside-div{
          width: 100%;
          height: 100%;
          display: grid;
        justify-content: space-around;
        align-items: center;
        padding: 10vh 10%;
          h4,p{
            color: white;
            display: none;
            text-align: center;
            width: 100%;
            margin: 0;
            padding: 0;
          }
          p{
            font-size: 0.7em;
          }
        }
        .inside-div:hover{
          background-color: rgba(0,0,0,0.5);
          cursor: pointer;
          h4,p{
            display: inline-block;
          }
        }
      }
      .one-socialize-div:hover {
        
      }
      .first-socialize {
        background-image: url("./images/insta1.png");
      }
      .second-socialize {
        background-image: url("./images/insta2.png");
      }
      .third-socialize {
        background-image: url("./images/insta3.png");
      }
      .fourth-socialize {
        background-image: url("./images/insta4.png");
      }
      .fifth-socialize {
        background-image: url("./images/insta5.png");
      }
    }
  }
  #social-networks-wraper {
    width: 70%;
    left: 15%;
    height: 25vh;
    background-color: white;
    border-radius: 2vh;
    position: absolute;
    top: 520vh;
    .bottom-logo {
      width: 100%;
      height: 50%;
      background-image: url("./images/GenteraLogo.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 25% auto;
    }
    h5 {
      text-align: center;
      padding: 0 10%;
    }
    .social-nets-logos{
      width: 100%;
      height: 7vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 5%;
      justify-content: space-around;
      align-items: center;
      padding: 0 35% 0;
      .one-net-logo{
        height: 5vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      .one-net-logo:hover{
        cursor: pointer;
      }
      .first-net-logo{ 
        background-image: url("./images/FB.png");
      }
      .second-net-logo{
        background-image: url("./images/insta.png");
      }
      .third-net-logo{
        background-image: url("./images/IN.png");
      }
    }
  }
  #locations-contact-datas {
    height: 50vh;
    background-color: $main-color;
    color: white;
    padding: 0 15% 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .one-location-info{
      padding: 15vh 10% 5vh;
      height: 50vh;
      
      h2:after {
        content:"";
        display: block;
        height: 0.5em;
        width: 50%;      
        border-top: 1px solid white;
    }
    p{
      margin-top: 3vh;
    }
    }
    .second-location-info{
border-left: solid white 1px;
border-right: solid white 1px;
    }
  }
  footer{
    padding: 2vh 10%;
    height: 8vh;
    background-color: brown;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    color: white;
    .footer-right{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-around;
      padding-left: 10%;
    }
  }
}
